  <div class="book-ad post-content" style="
    background-color: #fec700;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    color: black;
    ">
    <p>
      Check out my book "<strong>Hands-On RESTful Web Services with ASP.NET Core</strong>" available on <a
        href="https://amzn.to/2kBpWq1">Amazon</a> or <a
        href="https://www.packtpub.com/application-development/hands-restful-web-services-aspnet-core">Packt</a>. Source
      code available on <a
        href="https://github.com/PacktPublishing/Hands-On-RESTful-Web-Services-with-ASP.NET-Core">GitHub</a>
    </p>
  </div>