
{{> "scrolltotop"}}

<footer class="foot">
    <div class="container">
        <div class="foot-meta">
            Written and maintained by <a href="/about">Samuele Resca</a>
        </div>
        {{> "socials"}}
    </div>
</footer>