{{#match @page.show_title_and_feature_image}}
{{/match}}

<header id="head" class="head">
    <nav class="head-inner container">
        <div class="head-menu">
            {{navigation}}
        </div>
         <div class="head-brand">
            <a class="head-logo" href="{{@site.url}}"></a>
        </div>
        <div class="head-actions">
            <ul class="nav">
                <li>
            <a  href="/signup">Subscribe</a>

                </li>
                <li>
                    <a data-ghost-search="">{{> "icons/search"}}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>