<nav class="header-social">
      <a href="https://github.com/samueleresca" target="_blank" rel="noopener" aria-label="Github">
            {{> "icons/github"}}
      </a>
      <a href="https://twitter.com/samuelefyi" target="_blank" rel="noopener" aria-label="Twitter">
            {{> "icons/twitter"}}
      </a>
      <a href="https://www.linkedin.com/in/samuele-resca/" target="_blank" rel="noopener" aria-label="Twitter">
            {{> "icons/linkedin"}}
      </a>
</nav>