{{!< default}}
<div class="page">
    <div class="container">
        <div class="postfeed">
        {{#foreach posts}}
            {{> "card" page=../pagination.page }} {{!-- partials/card.hbs --}}
        {{/foreach}}
        </div>

        {{!-- If JS isn't enabled, fallback to standard pagination --}}
        <noscript>
            <div class="pagination">
                {{pagination}}
            </div>
        </noscript>
    </div>
</div>
