{{!< default}}

{{#post}}

<article class="article {{post_class}}">
    <header class="header">
    <h1 class="title">{{title}}</h1>
    {{> "socials"}}
</header>

    <div class="content canvas">
        {{content}}
    </div>
</article>
{{/post}}
