
.subscription-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin-bottom: 8rem;

    h1 {
        margin-bottom: 2rem;
    }

    .signup-form {
      &.success {
        .message-success {
          display: inline-block;
        }
    
        input, button, .subscribe-message {
          display: none;
        }
      }
        
          &.error {
            .message-error {
              display: inline-block;
            }
          }
    }
}

fieldset {
    border: 0;
}

.message-error, 
.message-success {
    display: none;
}

.message-error {
    font-size: 14px;
    color: var(--color-error);
}


