.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin-bottom: 8rem;

    .error-code {
        font-size: 120px;
    }

    .error-description {
        text-transform: uppercase;
    }
}
