.foot {
    color: var(--color-metadata-font);
    font-size: var(--font-metadata-size);

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: var(--footer-height);
    }
}
