.head {
    margin: 4rem 0;
    
    a {
        text-decoration: none;
        text-transform: lowercase;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    li {
        margin: 5px;
    }
}

.head-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-actions, .head-menu, .head-brand {
    display: flex;
    flex: 1;
}

.head-brand {
    justify-content: center;
}

.head-logo {
    height: 105px;
    width: 80px;
}
.head-actions {
    display: flex;
    justify-content: flex-end;
}